/* Scroll to Top Button Styles */
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #6c5ce7;
  border: none;
  color: #fff;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #2d3436;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#scrollToTopBtn:hover {
  background-color: #636e72;
  color: white;
}