/* General Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #d63031;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #e448486d;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 75px);
}

/* Header Styles */
header {
  background-color: #74b9ff;
  color: #fff;
  text-align: center;
  padding: 1em;
}

.header-content {
  display: flex;
  flex-direction: column; /* Stack items vertically on small screens */
  align-items: center;
}

.header-text {
  text-align: center;
  margin-bottom: 20px;
}

.header_H1 {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.header_P {
  margin: 0;
  font-size: 1.2em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 20px; /* Add space between header-text and profile-image */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

/* Hover effect for a slight growth */
.profile-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Larger screens layout */
@media (min-width: 768px) {
  .header-content {
    flex-direction: row; /* Align items horizontally on larger screens */
    justify-content: center;
    align-items: center;
  }

  .profile-image {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0; /* Remove the margin-bottom for alignment */
  }
}

/* Navigation Styles */
nav {
  background-color: #0984e3;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly; /* Distribute items evenly */
  align-items: center;
  width: 100%; /* Take full width */
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 1em;
  transition: color 0.3s ease;
  font-weight: bold; /* Make the text bolder */
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #0984e3;
    z-index: 99;
    padding-top: 20px; /* Add padding to sit above the targeted section */
  }

  nav ul.show {
    display: flex;
  }

  .menu-icon {
    display: flex;
  }

  section:not(:first-child) {
    padding-top: 80px; /* Adjust the value based on your design */
  }

  nav li {
    margin-bottom: 10px; /* Adjust the margin to add space between options */
  }
 
  nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    padding: 10px; /* Adjust the padding for each option */
    display: block; /* Ensure each option takes full width */
    font-weight: bold; /* Make the text bolder */
  }
}

nav a:hover {
  color: #2d3436;
}

/* Section Styles */
section {
  padding: 2em;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}

/* About Me Section Styles */
section.about-section {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Expertise Section Styles */
#expertise {
  text-align: left;
  padding: 2em;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.expertise-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.expertise-item {
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  width: calc(25% - 20px); /* Adjust the percentage based on your design */
  margin-bottom: 25px; /* Adjust the spacing between items */
  font-size: 1.25em; /* 25% larger than the original size */
  font-weight: bold;
  height: 100px; /* Set a fixed height for consistency */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Systems Thinking */
.expertise-item.systems-thinking {
  background-color: #48dbfb;
}

/* Strategic Planning */
.expertise-item.strategic-planning {
  background-color: #ff6b6b;
}

/* Collaboration */
.expertise-item.collaboration {
  background-color: #1dd1a1;
}

/* Add this to your existing styles or create a new style block */
.energetic-services-section {
  background-color: #f8f9fa; /* Light background color */
  padding: 2em;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.section-title {
  color: #f39c12; /* Energetic orange color */
  font-size: 2em; /* Larger font size for emphasis */
  margin-bottom: 1em; /* Add some space between title and text */
}

.energetic-text {
  color: #2d3436; /* Dark text color */
  font-size: 1.2em; /* Slightly larger text size */
  line-height: 1.6; /* Improved readability with increased line height */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .expertise-item {
    width: calc(100% - 20px); /* Full width for stacked items with margin */
    margin-bottom: 5px; /* Add space between stacked items */
  }
}

/* Hover Effect */
.expertise-item:hover {
  transform: scale(1.05);
}

/* Testimonials Section Styles */
.testimonials-section {
  padding: 2em;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.testimonial-card {
  width: calc(33.33% - 20px);
  max-width: 400px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

@media (max-width: 1200px) {
  .testimonial-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .testimonial-card {
    width: calc(100% - 20px);
  }
}

.testimonial-card:hover {
  transform: scale(1.05);
}

.testimonial-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.testimonial-content {
  text-align: center;
}

.testimonial-name {
  font-size: 1.2em;
  margin: 0;
}

.testimonial-title {
  color: #555;
  margin: 0;
}

.testimonial-text {
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #0984e3;
  color: #fff;
  padding: 0.5em 1em;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #2d3436;
}

/* Contact Section Styles */
section#contact {
  text-align: left;
}

form#contactForm {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

form#contactForm label {
  display: block;
  margin-bottom: 6px;
  font-size: 1.2rem;
  font-weight: bold;
}

form#contactForm input[type="text"],
form#contactForm input[type="email"],
form#contactForm textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

form#contactForm button[type="submit"] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form#contactForm button[type="submit"]:hover {
  background-color: #00b894;
}

/* Scroll to Top Button Styles */
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #6c5ce7;
  border: none;
  color: #fff;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #2d3436;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#scrollToTopBtn:hover {
  background-color: #636e72;
  color: white;
}